<!--- LOGIN PAGE --->
<div class='landing-header'>
  <span class="landing-txt">P L E A S E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;L O G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;I N</span>
</div>
<!-- commenting this out because there seems to be a margin that's pushing everything to the right a bit. can be re-added if you want to adjust! -->
<!-- <div class="login-container"> -->

<div class="login-wrap">



<div class='login-container'>
  <h3>Please Enter Your Email Address</h3>

  <%= form_tag(login_path) do %>
  <span class='login-email2'>  <%= email_field_tag 'email', nil, placeholder: "Email", :class => 'login-email-field2'%></span>

  <span class="login-password2">
  <h3>Please Enter Your Password</h3>
    <%= password_field_tag 'password', nil, placeholder: "Password", :class => 'login-password-field2' %></span>
    <span class='login-submit'><%= submit_tag(value="Login") %></span>
  <% end %>
</div>
<span class='hidden'>
<%= link_to 'Back', sessions_path %>

</span>

</div>
<!-- </div> -->
