<h1>Listing Long Answer Questions</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @long_answer_questions.each do |long_answer_question| %>
      <tr>
        <td><%= long_answer_question.answer %></td>
        <td><%= link_to 'Show', long_answer_question %></td>
        <td><%= link_to 'Edit', edit_long_answer_question_path(long_answer_question) %></td>
        <td><%= link_to 'Destroy', long_answer_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Long answer question', new_long_answer_question_path %>
