<%= form_for(@author) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <span class='login-email'>
    <%= f.label :'Email Address', :class => 'login-email-field'%><br>
    <%= f.email_field :email, placeholder: "Email", :class => 'login-email-field' %>
</span>
  <span class="login-name">
    <%= f.label :'Password', :class => 'login-email-field' %><br>
    <%= f.password_field :password, placeholder: "Password", :class => 'login-password-field'  %>
</span>
  <span class="login-name">
    <%= f.label :'Name', :class => 'login-email-field' %><br>
    <%= f.text_field :name, placeholder: "name", :class => 'login-password-field'  %>
</span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
