<%= form_for(@survey_question) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey_question from being saved:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :question_type %><br>
    <%= f.text_field :question_type %>
  </div>
  <div class="field">
    <%= f.label :answer_options %> Separate each with a comma. The first answer should be the "yes" option.<br>
    <%= f.text_field :answer_options %>
  </div>
  <div class="field">
    <%= f.label :required %><br>
    <%= f.check_box :required %>
  </div>
  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.number_field :survey_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
