<%= form_for(@survey_question) do |f| %>
  <% if @survey_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_question.errors.count, "error") %> prohibited this survey_question from being saved:</h2>

      <ul>
      <% @survey_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= @survey_question.text %>
      Required?: <%= @survey_question.required %>
      <% if @survey_question.question_type == "BooleanQuestion" %>
        <%= f.fields_for :boolean_questions do |ff| %>
          <div>
            <%= ff.check_box :answer, placeholder: "Answer goes here..." %>
          </div>
        <% end %>
      <% elsif @survey_question.question_type == "ShortAnswerQuestion" %>
        <%= f.fields_for :short_answer_questions do |ff| %>
          <div>
            <%= ff.text_field :answer, placeholder: "Answer goes here..." %>
          </div>
        <% end %>
      <% elsif @survey_question.question_type == "LongAnswerQuestion" %>
        <%= f.fields_for :long_answer_questions do |ff| %>
          <div>
            <%= ff.text_area :answer, placeholder: "Answer goes here..." %>
          </div>
        <% end %>
      <% else %>
        No question type
      <% end %>




  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
