<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-survey-wrap">
  <div class="field">
    <%= f.label 'Survey Title:', :class => 'survey-form-text' %><br>
    <%= f.text_field :title, :class => 'survey-field' %>
  </div>
  <div class="field">
    <%= f.label 'Survey description:' %><br>
    <%= f.text_area :description, :class => 'survey-field' %>
  </div>
  <div class="field">
    <%= f.label 'Survey Author:' %><br>
    <%= f.number_field :author_id, :class => 'survey-field' %>
  </div>
  <div class="field">
    <%= f.label 'Publish Survey?' %><br>
    <%= f.check_box :published, :class => 'survey-field' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
