<%= form_for(@survey) do |f| %>



  <%= f.hidden_field :author_id, value: session[:user_id] %>

  <div class="new-survey-wrap">
    <% if @survey.errors.any? %>

    <div class="modal-container">
      <div class="modal">
        <button class="modal-close">X</button>
          <div id="error_explanation">
          <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved. Please correct and resubmit below!</h2>

          <ul>
            <% @survey.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <div class="questions-header-bg">

      <div class="title-auth-wrap">
        <div class="field">
          <%= f.label ' ', :class => 'survey-form-text' %><br>
          <%= f.text_field :title,:class => 'survey-field', :placeholder => "SURVEY TITLE" %>
        </div>
      </div>

      <div class="desc-wrap">
        <div class="field survey-description">
          <%= f.label ' ' %><br>
          <%= f.text_area :description, :class => 'survey-area', :placeholder => "SURVEY DESCRIPTION" %>
        </div>
      </div>

      <div class='add-question'>
        <span class='add-btn-txt'>ADD  A  QUESTION</span>
      </div>
  </div>


    <div class='question-wrap'>
        <%= f.fields_for :survey_questions do |ff| %>

        <!-- START OF HTML BLOCK THAT SHOULD BE ADDED WHEN NEW ITEM IS CLICKED -->
        <div class='pick-question' id='question0'>
          <div class='move-buttons'><span class='move-up'><i class="fa fa-caret-up"></i></span><span class='move-down'><i class="fa fa-caret-down"></i></span></div>
          <span class='q-txt'>
            <%= ff.text_field :text, :placeholder => "Ask Your Question Here", :class => 'q-field' %>
          </span>


          <span class='remove-question'>Remove?  <%= ff.check_box :_destroy, :class => 'q-remove'  %></span>

          <span class='q-options'>


            <span class='q-type'>
              This is a <%= ff.select  :question_type, [["Yes No", "BooleanQuestion"], ["Short Answer", "ShortAnswerQuestion"], ["Long Answer", "LongAnswerQuestion"], ["Multiple Choice Dropdown", "DropdownQuestion"] ], {prompt: "Select question type..."}, {:class => 'survey-questions-dropdown'}  %> question
            </span>
          </span>

        <span class='hidden survey-options'>
          Place your question values(separated by a comma) here:
          <%= ff.text_field :answer_options, value: "Yes, No" %>
        </span>
          <span class='hidden'>
            <%= ff.text_field :position, :class => 'q-position' %>
          </span>

          <span class='q-required'>
            Is this question required?: <%= ff.check_box :required, :class => 'q-required-toggle' %>
          </span>


    </div>
    <% end %>

</div>


    <div class="field survey-publish">
      <%= f.label 'Would you like this survey to be publicly available?' %>
      <%= f.check_box :published, :class => 'pub-check'  %>
      <%= f.submit %>
    </div>




    <% end %>


</div>
