<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id, value: session[:user_id] %>

  <div class="new-survey-wrap">
  <div class="questions-header-bg">
  <div class="title-auth-wrap">
      <div class="field">
        <%= f.label 'Survey Title:', :class => 'survey-form-text' %><br>
        <%= f.text_field :title, :class => 'survey-field' %>
      </div>

      <!-- <div class="field">
        <%= f.label 'Survey Author:' %><br>
        <%= f.number_field :author_id, :class => 'survey-field' %>
      </div> -->
    </div>
    <div class="desc-wrap">
      <div class="field survey-description">
        <%= f.label 'Survey description:' %><br>
        <%= f.text_area :description, :class => 'survey-area' %>
      </div>
    </div>
</div>

<div class='question-wrap'>
<div class='pick-question'>
    <%= render 'questions_fields' %>
    </div>
  </div>
</div>



  <%= add_child_button "New Question", :survey_questions, "#survey_questions" %>



  <div class="field survey-publish">
    <%= f.label 'Would you like this survey to be publicly available?' %><br>
    <%= f.check_box :published, :class => 'pub-check'  %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
