<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-survey-wrap">
  <div class="questions-header-bg">
  <div class="title-auth-wrap">
      <div class="field">
        <%= f.label 'Survey Title:', :class => 'survey-form-text' %><br>
        <%= f.text_field :title, :class => 'survey-field' %>
      </div>

      <div class="field">
        <%= f.label 'Survey Author:' %><br>
        <%= f.number_field :author_id, :class => 'survey-field' %>
      </div>
    </div>
    <div class="desc-wrap">
      <div class="field survey-description">
        <%= f.label 'Survey description:' %><br>
        <%= f.text_area :description, :class => 'survey-area' %>
      </div>
    </div>
</div>

<input placeholder="ASK YOUR QUESTION HERE" class="q-field" type="text" name="survey[survey_questions_attributes][0][text]" id="survey_survey_questions_attributes_0_text">

<div class='question-wrap'>
<div class='pick-question'>
<%= f.fields_for :survey_questions do |ff| %>
    <div>
      <span class='q-txt'>QUESTION: <%= ff.text_field :text, :placeholder => "ASK YOUR QUESTION HERE", :class => 'q-field' %></span>

    <span class='q-options'>
      <span class='q-required'>Is this Question Required?: <%= ff.check_box :required %></span>

      <span class='q-type'>  This Question is a: <%= ff.select :question_type, [["Yes No", "BooleanQuestion"], ["Short Answer", "ShortAnswerQuestion"], ["Long Answer", "LongAnswerQuestion"]], prompt: "Select question type..." %></span>
    </span>
    </div>
  </div>
</div>
<span class='hidden'>
THIS SECTION SHOULD ONLY SHOW IF THE USER SELECTED A BOOLEAN QUESTION TYPE
Add question options, comma separated. The first answer should be the "Yes" option.
<%= ff.text_field :answer_options, value: "Yes, No" %></span>


  <div class="field survey-publish">
    <%= f.label 'Would you like this survey to be publicly available?' %><br>
    <%= f.check_box :published, :class => 'pub-check'  %>
  </div>


  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
