<h1 class='new-survey-header'>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><a href="/surveys/10">A survey that has a description</a></td>
        <td>description text description text description text</td>
        <td></td>
        <td><a href="/results/9">See Results</a></td>
        <td><a href="/surveys/9/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/9">Destroy</a></td>
      </tr>
      <tr>
        <td><a href="/surveys/10">A published survey with no description</a></td>
        <td></td>
        <td>Yes</td>
        <td><a href="/results/10">See Results</a></td>
        <td><a href="/surveys/10/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/10">Destroy</a></td>
      </tr>
      <tr>
        <td><a href="/surveys/11">A published survey with a description</a> </td>
        <td>here is a description!</td>
        <td>Yes</td>
        <td><a href="/results/11">See Results</a></td>
        <td><a href="/surveys/11/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/11">Destroy</a></td>
      </tr>
  </tbody>
</table>

<br>

<a href="/surveys/new">New Survey</a>









<!-- <h1 class='new-survey-header'>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <td><%= survey.description %></td>
        <td><%= "Yes" if survey.published %></td>
        <td><%= link_to 'See Results', result_path(survey) %></td>
        <td><%= link_to 'View', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %> -->
