<h1 class='new-survey-header'>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Author 2&#39;s survey</td>
        <td></td>
        <td></td>
        <td><a href="/results/9">See Results</a></td>
        <td><a href="/surveys/9">View</a></td>
        <td><a href="/surveys/9/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/9">Destroy</a></td>
      </tr>
      <tr>
        <td>Author 2&#39;s second  survey</td>
        <td></td>
        <td></td>
        <td><a href="/results/10">See Results</a></td>
        <td><a href="/surveys/10">View</a></td>
        <td><a href="/surveys/10/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/10">Destroy</a></td>
      </tr>
      <tr>
        <td>Author 2&#39;s third </td>
        <td></td>
        <td>Yes</td>
        <td><a href="/results/11">See Results</a></td>
        <td><a href="/surveys/11">View</a></td>
        <td><a href="/surveys/11/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/11">Destroy</a></td>
      </tr>
      <tr>
        <td>HELLO!</td>
        <td>jhrherhkjwejrkjwkehrkjwer</td>
        <td>Yes</td>
        <td><a href="/results/14">See Results</a></td>
        <td><a href="/surveys/14">View</a></td>
        <td><a href="/surveys/14/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/14">Destroy</a></td>
      </tr>
      <tr>
        <td>Kate SURVEY</td>
        <td>ekjrtkjerhtkjert</td>
        <td></td>
        <td><a href="/results/15">See Results</a></td>
        <td><a href="/surveys/15">View</a></td>
        <td><a href="/surveys/15/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/15">Destroy</a></td>
      </tr>
      <tr>
        <td>ererer</td>
        <td></td>
        <td></td>
        <td><a href="/results/17">See Results</a></td>
        <td><a href="/surveys/17">View</a></td>
        <td><a href="/surveys/17/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/17">Destroy</a></td>
      </tr>
      <tr>
        <td>Here is a survey</td>
        <td>here is a description</td>
        <td>Yes</td>
        <td><a href="/results/18">See Results</a></td>
        <td><a href="/surveys/18">View</a></td>
        <td><a href="/surveys/18/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/18">Destroy</a></td>
      </tr>
      <tr>
        <td>Hello there!</td>
        <td>some things</td>
        <td>Yes</td>
        <td><a href="/results/24">See Results</a></td>
        <td><a href="/surveys/24">View</a></td>
        <td><a href="/surveys/24/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/24">Destroy</a></td>
      </tr>
      <tr>
        <td>Reordered Survey</td>
        <td></td>
        <td></td>
        <td><a href="/results/25">See Results</a></td>
        <td><a href="/surveys/25">View</a></td>
        <td><a href="/surveys/25/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/25">Destroy</a></td>
      </tr>
      <tr>
        <td>Reodered Survey 2</td>
        <td></td>
        <td></td>
        <td><a href="/results/26">See Results</a></td>
        <td><a href="/surveys/26">View</a></td>
        <td><a href="/surveys/26/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/26">Destroy</a></td>
      </tr>
      <tr>
        <td>Reodered Survey 3</td>
        <td></td>
        <td></td>
        <td><a href="/results/27">See Results</a></td>
        <td><a href="/surveys/27">View</a></td>
        <td><a href="/surveys/27/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/27">Destroy</a></td>
      </tr>
      <tr>
        <td>hello</td>
        <td></td>
        <td></td>
        <td><a href="/results/29">See Results</a></td>
        <td><a href="/surveys/29">View</a></td>
        <td><a href="/surveys/29/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/29">Destroy</a></td>
      </tr>
      <tr>
        <td>Testing Whether I can Add Multiple Questions</td>
        <td></td>
        <td></td>
        <td><a href="/results/30">See Results</a></td>
        <td><a href="/surveys/30">View</a></td>
        <td><a href="/surveys/30/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/30">Destroy</a></td>
      </tr>
      <tr>
        <td>Testing mult questions again</td>
        <td></td>
        <td></td>
        <td><a href="/results/31">See Results</a></td>
        <td><a href="/surveys/31">View</a></td>
        <td><a href="/surveys/31/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/31">Destroy</a></td>
      </tr>
      <tr>
        <td>title</td>
        <td></td>
        <td></td>
        <td><a href="/results/32">See Results</a></td>
        <td><a href="/surveys/32">View</a></td>
        <td><a href="/surveys/32/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/32">Destroy</a></td>
      </tr>
      <tr>
        <td>Survey 10</td>
        <td></td>
        <td></td>
        <td><a href="/results/33">See Results</a></td>
        <td><a href="/surveys/33">View</a></td>
        <td><a href="/surveys/33/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/33">Destroy</a></td>
      </tr>
      <tr>
        <td>New Survey</td>
        <td></td>
        <td></td>
        <td><a href="/results/34">See Results</a></td>
        <td><a href="/surveys/34">View</a></td>
        <td><a href="/surveys/34/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/surveys/34">Destroy</a></td>
      </tr>
  </tbody>
</table>

<br>

<a href="/surveys/new">New Survey</a>









<!-- <h1 class='new-survey-header'>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <td><%= survey.description %></td>
        <td><%= "Yes" if survey.published %></td>
        <td><%= link_to 'See Results', result_path(survey) %></td>
        <td><%= link_to 'View', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %> -->
