<h1>Listing Boolean Questions</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boolean_questions.each do |boolean_question| %>
      <tr>
        <td><%= boolean_question.answer %></td>
        <td><%= link_to 'Show', boolean_question %></td>
        <td><%= link_to 'Edit', edit_boolean_question_path(boolean_question) %></td>
        <td><%= link_to 'Destroy', boolean_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boolean question', new_boolean_question_path %>
