<%= form_for(@short_answer_question) do |f| %>
  <% if @short_answer_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_answer_question.errors.count, "error") %> prohibited this short_answer_question from being saved:</h2>

      <ul>
      <% @short_answer_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
