<!DOCTYPE html>
<html>
<head>
  <title>Survey Opossum</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
    <header class="app-header-wrap">
      <span class="app-header-text">
         S U R V E Y&nbsp; &nbsp;&nbsp; &nbsp;<i class="fa fa-paw"></i>&nbsp; &nbsp; &nbsp;&nbsp;O P O S S U M
      </span>
    </header>
<p id="notice"><%= notice %></p>

<%= yield %>

<footer class="app-footer">
  <span class="app-footer-paw"><i class="fa fa-paw"></i></span>
  <span class="app-footer-text">&copy;MMXVI Team 42</span>
</footer>
</body>
</html>
